In [2]:
import pandas as pd

In [11]:
# Write a Pandas program that uses MultiIndex to select data based on conditions.

df = pd.DataFrame({
    'X': [1, 2, 1, 2, 1],
    'Y': [5, 2, 9, 4, 1],
    'Z': ['one', 'one', 'two', 'two', 'one']
})
new_def = df.set_index(['Z','X'])
print(new_def)

new_def.loc['one'].loc[1]

       Y
Z   X
one 1  5
    2  2
two 1  9
    2  4
one 1  1

   Y
X
1  5
1  1

In [16]:
# Write a Pandas program that uses .loc to slice a MultiIndex DataFrame.

df = pd.DataFrame({
    'X': [1, 2, 1, 2, 1, 1, 2, 1, 2, 1, 2, 2, 1, 1],
    'Y': [5, 2, 9, 4, 1, 2, 3, 4, 6, 7, 5, 3 ,8 ,9],
    'Z': ['one', 'one', 'two', 'three', 'one', 'two', 'two', 'three', 'one', 'three','two', 'one', 'two', 'one']
})
new_def = df.set_index(['Z','X'])
new_def.sort_index(inplace=True)

new_def.loc['one' : 'two']

         Y
Z     X
one   1  5
      1  1
      1  9
      2  2
      2  6
      2  3
three 1  4
      1  7
      2  4
two   1  9
      1  2
      1  8
      2  3
      2  5