In [1]:
import pandas as pd
import numpy as np

In [2]:
# Write a  Pandas program to change the data type of given a column or a Series.

# Sample Series:
# Original Data Series:
# 0 100
# 1 200
# 2  python
# 3 300.12
# 4 400
# dtype: object
# Change the said data type to numeric:
# 0 100.00
# 1 200.00
# 2 NaN
# 3 300.12
# 4 400.00
# dtype: float64

s1 = pd.Series([100, 200, 'python', 300.12, 400])

s2 = pd.to_numeric(s1, errors = 'coerce')

s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [3]:
# Write a  Pandas program to convert the first column of a DataFrame as a Series.
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)

print("Original DataFrame")
print(df)

s1 = df.iloc[:,0]

s1

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [4]:
# Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

s1 = pd.Series(pd.date_range('2025-01-01', periods=52, freq = 'W-SUN'))

s1

0    2025-01-05
1    2025-01-12
2    2025-01-19
3    2025-01-26
4    2025-02-02
5    2025-02-09
6    2025-02-16
7    2025-02-23
8    2025-03-02
9    2025-03-09
10   2025-03-16
11   2025-03-23
12   2025-03-30
13   2025-04-06
14   2025-04-13
15   2025-04-20
16   2025-04-27
17   2025-05-04
18   2025-05-11
19   2025-05-18
20   2025-05-25
21   2025-06-01
22   2025-06-08
23   2025-06-15
24   2025-06-22
25   2025-06-29
26   2025-07-06
27   2025-07-13
28   2025-07-20
29   2025-07-27
30   2025-08-03
31   2025-08-10
32   2025-08-17
33   2025-08-24
34   2025-08-31
35   2025-09-07
36   2025-09-14
37   2025-09-21
38   2025-09-28
39   2025-10-05
40   2025-10-12
41   2025-10-19
42   2025-10-26
43   2025-11-02
44   2025-11-09
45   2025-11-16
46   2025-11-23
47   2025-11-30
48   2025-12-07
49   2025-12-14
50   2025-12-21
51   2025-12-28
dtype: datetime64[ns]

In [5]:
# Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

char_list = list('ABCDEFGHI')
num_arr = np.arange(8)

num_dict = dict(zip(char_list, num_arr))
s1 = pd.Series(num_dict)
df = s1.to_frame().reset_index()
df

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4
5     F  5
6     G  6
7     H  7

In [6]:
# Write a Pandas program to stack two given series vertically and horizontally.
series1 = pd.Series(range(10))
series2 = pd.Series(list('pqrstuvwxy'))
print("Original Series:")
print(series1)
print(series2)

dict1 = dict(zip(series1, series2))
df = pd.Series(dict1).to_frame().reset_index()
df

df = pd.concat([series1,series2], axis = 1)
df

Original Series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

In [7]:
# Write a  Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
print("Original Series:")
print(nums)

print(nums.idxmax())
print(nums.idxmin())

Original Series:
0     1
1     3
2     7
3    12
4    88
5    23
6     3
7     1
8     9
9     0
dtype: int64
4
9

In [8]:
# Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

df_data = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
sr_data = pd.Series([68, 75, 86, 80, None])
print("Original DataFrame:")
print(df_data)
print("\nOriginal Series:")
print(sr_data)

print(df_data.ne(sr_data, axis=0))

Original DataFrame:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True