In [1]:
import pandas as pd

In [8]:
# GroupBy and Applying Multiple Aggregations with Named Functions:
# Write a Pandas program to apply multiple aggregations with named functions in GroupBy for detailed  data analysis.

data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [5, 10, 15, 20, 25, 30],
        'Value2': [50, 100, 150, 200, 250, 300]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)

group = df.groupby('Category').agg(
    Total_Value = ('Value1', 'sum'),
    Average_Value = ("Value2", 'mean')
)

group

Sample DataFrame:
  Category  Value1  Value2
0        A       5      50
1        A      10     100
2        B      15     150
3        B      20     200
4        C      25     250
5        C      30     300

          Total_Value  Average_Value
Category
A                  15           75.0
B                  35          175.0
C                  55          275.0

In [16]:
# Write a Pandas program to handle missing data in GroupBy operations to ensure accurate and reliable  data analysis.

data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value': [10, None, 30, 40, None, 60]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
print("Summation before filling missing values: \n",df.groupby('Category').mean())
print("Summation after filling missing values: \n",df.ffill().groupby('Category').mean())

Sample DataFrame:
  Category  Value
0        A   10.0
1        A    NaN
2        B   30.0
3        B   40.0
4        C    NaN
5        C   60.0
Summation before filling missing values:
           Value
Category
A          10.0
B          35.0
C          60.0
Summation after filling missing values:
           Value
Category
A          10.0
B          35.0
C          50.0