In [1]:
import pandas as pd
import numpy as np

In [8]:
# Extract the date and time components from a DateTime column.
# Create a sample DataFrame with a DateTime column
data = {'DateTime': ['2012-01-01 08:30:00', '2012-01-02 12:45:00', '2012-01-03 18:15:00']}
df = pd.DataFrame(data)

df.DateTime = pd.to_datetime(df.DateTime)

print(df.DateTime.dt.date)
print(df.DateTime.dt.time)

0    2012-01-01
1    2012-01-02
2    2012-01-03
Name: DateTime, dtype: object
0    08:30:00
1    12:45:00
2    18:15:00
Name: DateTime, dtype: object

In [10]:
# Merge two DataFrames based on multiple columns.

data1 = {'ID': [1, 2, 3, 4],
         'Name': ['Imen', 'Karthika', 'Cosimo', 'Cathrine'],
         'Department': ['HR', 'IT', 'Finance', 'IT']}

data2 = {'ID': [1, 2, 3, 5],
         'Salary': [50000, 60000, 45000, 70000],
         'Department': ['HR', 'IT', 'Finance', 'Marketing']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

pd.merge(df1, df2, on=['ID', 'Department'])

   ID      Name Department  Salary
0   1      Imen         HR   50000
1   2  Karthika         IT   60000
2   3    Cosimo    Finance   45000

In [11]:
# Aggregate data in a DataFrame by multiple functions.

data = {'Department': ['HR', 'IT', 'Finance', 'IT', 'HR', 'Finance'],
        'Salary': [50000, 60000, 45000, 70000, 55000, 60000],
        'Experience': [2, 5, 1, 7, 3, 4]}

df = pd.DataFrame(data)

group_data = df.groupby('Department').agg(
    total_salary = ('Salary', 'sum'),
    avg_salary = ('Salary', 'mean'),
    avg_experience = ('Experience', 'mean'),
)

group_data

            total_salary  avg_salary  avg_experience
Department
Finance           105000     52500.0             2.5
HR                105000     52500.0             2.5
IT                130000     65000.0             6.0