In [1]:
import numpy as np

In [10]:
# Write a NumPy program to append a NumPy array to a Python list and print the result.

list1 = [1,2,3]
print("Python List: \n", list1, type(list1))

numpy_array = np.array([4,5,6])
print("numpy Array: \n", numpy_array, type(numpy_array))

list1.extend(numpy_array.tolist())

print("Appended List: \n", list1, type(list1))

Python List:
 [1, 2, 3] <class 'list'>
numpy Array:
 [4 5 6] <class 'numpy.ndarray'>
Appended List:
 [1, 2, 3, 4, 5, 6] <class 'list'>

In [15]:
# Write a NumPy program to combine a NumPy array and a Pandas DataFrame into a single DataFrame and print it.
import numpy as np
import pandas as pd

# Create a NumPy array
array = np.array([[10, 20], [30, 40], [50, 60]])

# Create a Pandas DataFrame
data = {
    'A': [1, 2, 3],
    'B': ['a', 'b', 'c']
}
df = pd.DataFrame(data)

array_dataframe = pd.DataFrame(array, columns=['C','D'])

final_dataframe = pd.concat([df, array_dataframe], axis=1)

final_dataframe

   A  B   C   D
0  1  a  10  20
1  2  b  30  40
2  3  c  50  60